<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.megatron.svg.sample"
    android:installLocation="auto">

    <application
        android:hardwareAccelerated="true"
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".IconSampleActivity" />

        <!--graphics-->
        <activity android:name=".graphics.GraphicsSampleActivity" />
        <activity android:name=".graphics.SizeSampleActivity" />
        <activity android:name=".graphics.ScaleTypeSampleActivity" />
        <activity android:name=".graphics.TintSampleActivity" />
        <activity android:name=".graphics.AlphaSampleActivity" />

        <!--animation-->
        <activity android:name=".animation.AnimationSampleActivity" />
        <activity android:name=".animation.AnimationDrawableSampleActivity" />
        <activity android:name=".animation.AnimationSVGImageViewSampleActivity" />
        <activity android:name=".animation.AnimationSVGDrawableSampleActivity" />

        <!--matrix-->
        <activity android:name=".matrix.MatrixSampleActivity" />
        <activity android:name=".matrix.TranslationSampleActivity" />
        <activity android:name=".matrix.RotationSampleActivity" />
        <activity android:name=".matrix.ScaleSampleActivity" />

        <activity android:name=".extend.ExtendSampleActivity" />
        <!--SVGView-->
        <activity android:name=".extend.SVGViewSampleActivity" />
        <activity android:name=".extend.SVGViewColorSampleActivity" />
        <activity android:name=".extend.SVGViewAlphaSampleActivity" />
        <activity android:name=".extend.SVGViewRotationSampleActivity" />
        <!--SVGImageView-->
        <activity android:name=".extend.SVGImageViewSampleActivity" />
        <activity android:name=".extend.SVGImageViewSizeSampleActivity" />
        <activity android:name=".extend.SVGImageViewColorSampleActivity" />
        <activity android:name=".extend.SVGImageViewAlphaSampleActivity" />
        <activity android:name=".extend.SVGImageViewRotationSampleActivity" />
        <!--SVGTextView-->
        <activity android:name=".extend.SVGTextViewSampleActivity" />
        <activity android:name=".extend.SVGTextViewSizeSampleActivity" />
        <activity android:name=".extend.SVGTextViewColorSampleActivity" />
        <activity android:name=".extend.SVGTextViewAlphaSampleActivity" />
        <activity android:name=".extend.SVGTextViewRotationSampleActivity" />
        <!--SVGImageButton-->
        <activity android:name=".extend.SVGImageButtonSampleActivity" />
        <activity android:name=".extend.SVGImageButtonSizeSampleActivity" />
        <activity android:name=".extend.SVGImageButtonColorSampleActivity" />
        <activity android:name=".extend.SVGImageButtonAlphaSampleActivity" />
        <activity android:name=".extend.SVGImageButtonRotationSampleActivity" />
        <!--SVGButton-->
        <activity android:name=".extend.SVGButtonSampleActivity" />
        <activity android:name=".extend.SVGButtonSizeSampleActivity" />
        <activity android:name=".extend.SVGButtonColorSampleActivity" />
        <activity android:name=".extend.SVGButtonAlphaSampleActivity" />
        <activity android:name=".extend.SVGButtonRotationSampleActivity" />
        <!--SVGEditText-->
        <activity
            android:name=".extend.SVGEditTextSampleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".extend.SVGEditTextSizeSampleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".extend.SVGEditTextColorSampleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".extend.SVGEditTextAlphaSampleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".extend.SVGEditTextRotationSampleActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>