<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.megatron.svg.sample"
    android:installLocation="auto">

    <application
        android:hardwareAccelerated="true"
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SizeSampleActivity" />
        <activity android:name=".ScaleTypeSampleActivity" />
        <activity android:name=".TintSampleActivity" />
        <activity android:name=".AlphaSampleActivity" />
        <activity android:name=".AnimationDrawableSampleActivity" />


        <activity android:name=".extend.ExtendSampleActivity" />
        <!--View-->
        <activity android:name=".extend.ExtendViewSampleActivity" />
        <activity android:name=".extend.ExtendViewColorSampleActivity" />
        <activity android:name=".extend.ExtendViewAlphaSampleActivity" />
        <!--ImageView-->
        <activity android:name=".extend.ExtendImageViewSampleActivity" />
        <activity android:name=".extend.ExtendImageViewSizeSampleActivity" />
        <activity android:name=".extend.ExtendImageViewColorSampleActivity" />
        <activity android:name=".extend.ExtendImageViewAlphaSampleActivity" />
        <!--TextView-->
        <activity android:name=".extend.ExtendTextViewSampleActivity" />
        <activity android:name=".extend.ExtendTextViewSizeSampleActivity" />
        <activity android:name=".extend.ExtendTextViewColorSampleActivity" />
        <activity android:name=".extend.ExtendTextViewAlphaSampleActivity" />
        <!--ImageButton-->
        <activity android:name=".extend.ExtendImageButtonSampleActivity" />
        <activity android:name=".extend.ExtendImageButtonSizeSampleActivity" />
        <activity android:name=".extend.ExtendImageButtonColorSampleActivity" />
        <activity android:name=".extend.ExtendImageButtonAlphaSampleActivity" />
        <!--Button-->
        <activity android:name=".extend.ExtendButtonSampleActivity" />
        <activity android:name=".extend.ExtendButtonSizeSampleActivity" />
        <activity android:name=".extend.ExtendButtonColorSampleActivity" />
        <activity android:name=".extend.ExtendButtonAlphaSampleActivity" />
        <!--EditText-->
        <activity
            android:name=".extend.ExtendEditTextSampleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".extend.ExtendEditTextSizeSampleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".extend.ExtendEditTextColorSampleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".extend.ExtendEditTextAlphaSampleActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>