<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.svg.sample">

    <application
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".SampleApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SizeSampleActivity" />
        <activity android:name=".ScaleTypeSampleActivity" />
        <activity android:name=".TintSampleActivity" />
        <activity android:name=".ExtendSampleActivity" />
        <activity android:name=".ExtendViewSampleActivity" />
        <activity android:name=".ExtendTextViewSampleActivity" />
        <activity android:name=".ExtendEditTextSampleActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ExtendButtonSampleActivity" />
        <activity android:name=".ExtendImageViewSampleActivity" />
        <activity android:name=".ExtendImageButtonSampleActivity" />
        <activity android:name=".AlphaSampleActivity" />
    </application>

</manifest>